doctype html

html(lang="en")
	head
		include head
	body
		include header
		h2 404 Page Not Found
		p We cannot find the page you're looking for,
			|
			|
			a(href="../") click here
			|
			| to return home