nav
	ul
		li: a(href="../") Home
		li: a(href="../search") Activity Search
		li: a(href="../newactivity") New Activity
		li: a(href="../generator") Generate a Lesson

		if user
			li: a(href="../mydetails") My Account
			li: a(href="../myactivities") My Activities
			li: a(href="../favourites") My Favourites
			li: a(href="../mylessons") My Lessons
		else
			li: a(href="../signup") Get Started
			li: a(href="../login") Log In