div#sidebar
	h3 My Account

	nav#side-nav
		ul
			li: a(href="../mydetails") My Details
			li: a(href="../myactivities") My Activities
			li: a(href="../favourites") My Favourites
			li: a(href="../mylessons") My Lessons