doctype html

html(lang="en")
	head
		title My Favourites
		include head
		link(rel="stylesheet" href="../css/user-section-styles.css")
	body
		include header
		main
			include sidebar
			div#main
				h2 My Favourites
				table
					tr
						td: table.activity-table
							tr
								td(colspan=2).act-title activity.title
								td(rowspan=3).star-button *
							tr
								td.act-info activity.date-created
								td.act-info activity.duration
							tr
								td.act-info activity.yglist
								td.act-info activity.files.length