doctype html

html(lang="en")
	head
		title My Lessons
		include head
		link(rel="stylesheet" href="../css/user-section-styles.css")
	body
		include header
		main
			include sidebar
			div#main
				h2 My Lessons
				table
					tr
						td: table.activity-table
							tr
								td(colspan=2).act-title lesson.title
								td(rowspan=3).edit-button Edit
								td(rowspan=4).delete-button X
							tr
								td.act-info lesson.duration
							tr
								td.act-info lesson.yg
								td.act-info lesson.activities.length