doctype html

html(lang="en")
	head
		title My Activities
		include head
		link(rel="stylesheet" href="../css/user-section-styles.css")
	body
		include header
		main
			include sidebar
			div#main
				h2 My Activities
				table
					tr
						td: table.activity-table
							tr
								td(colspan=2).act-title activity.title
								td(rowspan=3).edit-button Edit
								td(rowspan=4).delete-button X
							tr
								td.act-info activity.date-created
								td.act-info activity.duration
							tr
								td.act-info activity.yd
								td.act-info activity.files.length