@media(min-width: 500px)
	form
		*
			margin-left: 5px
			margin-bottom: 5px

	// New activity form

	.standardfield
		display: grid
		grid-template-columns: 150px 700px

	#tags-field, #desc-field, #files-field, #time-field
		display: grid
		*
			margin-right: 5px

	#yg-field
		label:first-child
			width: 95px
			margin-right: 5px
		//grid-template-columns: 75px auto auto auto auto auto auto auto auto auto auto auto

	#tags-field, #desc-field
		grid-template-columns: 95px 475px
		input
			height: 50px

	#files-field
		grid-template-columns: 75px 80px 200px

	#time-field
		grid-template-columns: 75px 75px 100px

	// Activity edit form

	.file-table
		border: solid 1pt black
		padding-bottom: 5pt
		width: 50%

	// Lesson page

	.lesson-activity
		width: 75%
		border: solid 1px black

	// Activity page

	.is-favourite
		a
			img
				display: inline
				width: 30px
			p
				display: inline
				vertical-align: center

	#add-to-lessons
		margin-top: 10px
		label
			margin-right: 10px

	#lesson-selector
		margin-right: 10px