@media(min-width: 500px)
	form
		*
			margin-left: 5px
			margin-bottom: 5px

	#yg-field, #tags-field, #time-field
		display: grid
		*
			margin-right: 5px

	#yg-field
		grid-template-columns: 95px 150px

	#tags-field
		grid-template-columns: 95px 475px

	#time-field
		margin-top: 10px
		grid-template-columns: 95px 75px 100px

	input[type="submit"]
		margin-left: 30px
		width: auto
		height: 50px

	#tag-msg
		font-size: 8pt
		margin-left: 15px
		padding-top: -30px

	#title-input-label
		margin-right: 20px
		font-weight: bold

	#title-input-field
		width: 30%
		font-size: 100%
		border-bottom: 1px solid #414141
		border-left: 1px solid #414141
		border-top: none
		border-right: none

	#lesson-save-button
		margin-top: 15px
		width: auto
		height: 40px

	.lesson-activity
		width: 65%
		border: solid 1px black
		margin-bottom: 3px

	.pos-button
		width: 7%