@media(min-width: 500px)
	#sidebar, #main
		display: inline-block

	#sidebar
		width: 25vw
		height: 100vh
		max-width: 200px
		border-right: solid 1px grey

		nav
			ul
				display: block
				list-style: none

	#main
		margin-left: 10px

	// Details form

	#username-field, #password-field, #title-field, #firstname-field, #surname-field
		display: grid
		margin-bottom: 5px
		*
			margin-right: 10px

	#username-field, #firstname-field, #surname-field
		grid-template-columns: 100px 175px

	#password-field
		grid-template-columns: 100px 175px 75px

	#title-field
		grid-template-columns: 100px 75px

	// User activities

	.user-activity
		border: solid 1px black
		width: 97rem
		.act-body
			display: inline-block
			margin-left: 10px
			h3
				width: 100%
			.act-details
				display: grid
				grid-template-columns: 150px 150px
				margin-right: 10px
		.controls
			position: relative
			left: 92rem